.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    background:white;
}

.topbar-title{
    font-size:28px;
    font-weight:700;
}

.date-box{
    display:flex;
    align-items:center;
    gap:10px;

    padding:10px 18px;

    background:white;

    border:1px solid #e5e7eb;

    border-radius:10px;

    box-shadow:0 2px 10px rgba(0,0,0,.05);
}

.date-text{
    font-weight:600;
}